# Dependencies
node_modules
npm-debug.log
yarn-error.log

# Next.js
.next
out

# Version Control
.git
.gitignore
.github

# Environment Variables
.env*
.env

# Docker
Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml

# Documentation
README.md
*.md

# IDEs
.idea
.vscode
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
